.circle {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
}

body {
    margin: 0;
    padding: 0;
    justify-content: center; 
    /* Центрирует контейнер по горизонтали */
    align-items: baseline; 
    /* Центрирует контейнер по вертикали */
    height: 100vh; 
    /* Полная высота экрана */
}

.container {
    display: flex;
    width: 290px;
    margin: 0 auto
}



.item {
    background: red;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    border-radius: 0.375rem;
    color: rgb(255, 255, 255);
}

.tab-nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    order: -1;
}

.tab-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    background: 0 0;
    border: 0;
    border-radius: 0.375rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.containerTab{
    display: flex;
    width: 192px;
    margin: 0 auto
}

.containerButton {
    display: flex;
    gap: 1rem;
}

.button {

    padding: 0.4rem;
    background: 0 0;
    border: 0;
    border-radius: 0.375rem;
    background-color: #0d6efd; 
    color: #fff; 
    cursor: default;
    width:175px;
    
}


.checkbox{
    width:30px;
}



